.header {
    height: 18.75rem;
    font-size: 4vmin;
}

.header > div {
    flex-direction: column;
    margin-top: 5rem;
}

.header img {
    width: 30vmin;
    height: 30vmin;
    border-radius: 50%;
    margin-bottom: 1.5rem;
    border: 3px solid #000000;
    filter: grayscale(100%);
}